{% extends 'portnew/home.html' %}

{% block content %}
{% for post in object_list %}
<div class="container">
    <div class="row featurette py-5">
        <div class="col-md-7">
            <h2 class="featurette-heading">Hello there this is dhiraj <span class="text-muted">Owner</span> </h2>
            <p class="lead">
                Hey I am dhiraj and i am good at web development in these languages html css and javascript. And i have made website using these languages and bootstrap. And i am also quite good at python development and django web development. The thing i have come to this fiverr to earn two thing one is skill set how to sell something to a customer and how to fulfill the requirements of the customer and second is to earn some extra cash for my future. 
                <br>
                Thank you so much for viewing my profile. Have a great day. 
            </p>
        </div>
        <div class="col-md-5">
            <rect width="100%" height="100%" fill="#eee">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250px" height="350px" src="{{ post.image.url }}" alt="">
            </rect>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}