{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            {% for post in object_list %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm bg-danger">
                    <div class="card-body text-center align-items-center">
                        <a class="card-text text-uppercase bg-gradient-primary text-light text-center text-decoration-none"
                            href="{% url 'project' %}">
                            <h5 class="text-light"> MyProjects </h5>
                        </a>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card mb-4 shadow-sm bg-success">
                    <div class="card-body text-center align-items-center">
                        <a class="card-text text-uppercase bg-gradient-primary text-dark text-center text-decoration-none"
                            href="{% url 'about' %}">
                            <h5 class="text-light"> About MySite </h5>
                        </a>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}